# ----------------------------------------
# 💾 DATA & ENVIRONMENT
# ----------------------------------------
data/
*.csv
*.db
*.xlsx
*.zip

#API Key, Password, Secret
.env
.env.*

# ----------------------------------------
# 🐍 PYTHON
# ----------------------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.ipynb_checkpoints/
*.log
*.bak
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Virtual environment
venv/
env/
.venv/

# ----------------------------------------
# 🧠 NOTEBOOK & MODEL
# ----------------------------------------
*.model
*.pkl
*.h5
*.joblib

# ----------------------------------------
# 🧱 VISUALIZATION / OUTPUT
# ----------------------------------------
*.pbix
*.png
*.pdf

# ----------------------------------------
# ⚙️ VS Code / IDE
# ----------------------------------------
.vscode/
.idea/
